* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #23272a;
}


.hero {
  background-color: #404eed;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}


.login-btn {
  background: white;
  color: #404eed;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}


.header-buttons button{
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 40px;
  font-weight: bold;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #404eed;
  color: white;
}


.nav .menu a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}


.header h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


.header p{
  max-width: 600px;
  margin: 0 auto 2rem;
}


.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
}


.section_one{
    background: #f6f6f6;;
}


.section_two{
  background: white;
}


.section .text{
  flex: 1 1 40%;
  padding: 1rem;
}


.section .image{
  flex: 1 1 40%;
  background-color: #ddd;
  height: 200px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}


.btn_one{
  background: white;
  color: #404eed;
}


.btn-dark {
  background: #23272a;
  color: white;
}


.footer {
  background-color: #23272a;
  color: white;
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.footer-logo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.registrati-btn{
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #5865f2;
  color: white;
  border: none;
}


.footer-links{
  display: flex;
  gap: 3rem;
}


.footer-links div h4 {
  margin-bottom: 0.5rem;
}


.footer-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}