*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug .uno,.due,.tre,.quattro,.cinque,.sei{
  border: 3px dotted black;
}
main{
  width: 80%;
  margin: 0 auto;
}
button{
  background-color: white;
  border: white solid 3px;
  border-radius: 25%;
}
h1{
  text-align: center;
  margin-top: 10%;
  height: 100px;
  color: white;
}

h3{
  color: blue;
}

nav{
  display: inline;
}

a{
  color: white;
  text-decoration: none;
}

header{
      background-image: url(./img/jumbo.png);
}
.discord{
  background-color: black;
  color: white;
  border-radius: 25%;
}

.uno{
  margin-top: 20%;
  background-color: yellow;
  height: 300px;
}
.due{
  background-color: yellow;
  height: 300px;
  margin-top: 10px;
}
.tre{
  background-color: yellow;
  height: 300px;
  margin-top: 10px;
}
.quattro{
  background-color: yellow;
  height: 300px;
  margin-top: 30%;
}

footer{
    width: 80%;
    margin: 0 auto;
}
.cinque{
  background-color: black;
  height: 300px;
  margin-top: 10%;
}

.sei{
  background-color: black;
  height: 100px;
}